repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npx eslint
        language: system
        files: ^dist/.*\.js$
        types: [javascript]

      - id: prettier
        name: prettier
        entry: npx prettier --check
        language: system
        files: ^dist/.*\.js$
        types: [javascript]
