name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: |
            dist/content-card-linky.js
            dist/content-card-linky-editor.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
